<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/error.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="error">
        <h2 class="er_title">Please Enter a valid password</h2>
        <ul>
            <li>Password must be of length 8 or more.</li>
            <li>Password must have atleast one character.</li>
            <li>Password must have atleast one digit.</li>
            <li>Password must contains only digits and characters.</li>
        </ul>
        <a class="er_back" href="/signup"> < Go back to SignUp Page</a>
    </div>
</body>
</html>