<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/error.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="error">
        <h1 class="e_title">Unauthenticated User</h1>
        <a class="e_back" href='/login'> < Go Back to Login Page</a>
    </div>
</body>
</html>