<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <div>
        <h1>Register</h1>

        <form action="{{ url_for('routes.register') }}" method="post">
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>
            <div>
                <label for="name">Your Name:</label>
                <input type="text" name="name" required>
            </div>
            <div>
                <label for="role">Select Role:</label>
                <select name="role" id="role" onchange="toggleJobRoleField()">
                    <option value="candidate">Candidate</option>
                    <option value="hr">HR</option>
                </select>
            </div>
            <div id="appliedJobRoleField">
                <label for="applied_job_role">Applied Job Role:</label>
                <input type="text" name="applied_job_role" required>
            </div>
            <script>
                // Set the initial state of the appliedJobRoleField
                document.getElementById('appliedJobRoleField').style.display = 'block';

                function toggleJobRoleField() {
                    var roleDropdown = document.getElementById('role');
                    var appliedJobRoleField = document.getElementById('appliedJobRoleField');

                    appliedJobRoleField.style.display = roleDropdown.value === 'hr' ? 'none' : 'block';
                }
            </script>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>

        <p>
            Already have an account? <a href="{{ url_for('routes.login') }}">Login as Existing Member</a>
        </p>
    </div>
</body>

</html>
