<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>HR bot - Signup</title>
      <link rel="stylesheet" href="../static/css/signup.css">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="signup">
        <div class="s_right">
          <div class="s_right_hr">
            
          </div>
        </div>
      <div class="s_left">
        <div style="display: flex; flex-direction: column;align-items: center;">
            <h2 style="font-size: 50px; color: #2C2C2C;">Sign Up</h2>
            <p style="color:#4C4C4C">Fill the details to create your account</p>
        </div>
        <form class="s_form" action="{{ url_for('routes.register') }}" method="POST">
            <div class="s_email">
                <label style="font-weight: bold;" for="email">Email:</label>
                <input class="s_input" type="email" name="email" required>
            </div>
            <div class="s_password">
                <label style="font-weight: bold;" for="password">Password:</label>
                <input class="s_input" type="password" name="password" required>
            </div>
            <div class="s_email">
                <label style="font-weight: bold;" for="name">Name:</label>
                <input class="s_input" type="text" name="name" required>
            </div>
            <div class="s_email">
                <label style="font-weight: bold;" for="role">Select Role:</label>
                <select class="s_input" style="width: 540px;height: 45px;" name="role" id="role" onchange="toggleJobRoleField()">
                    <option value="candidate">Candidate</option>
                    <option value="hr">HR</option>
                </select>
            </div>
            <div id="appliedJobRoleField" class="s_email">
                <label style="font-weight: bold;" for="applied_job_role">Applied Job Role:</label>
                <input class="s_input" type="text" name="applied_job_role" required>
            </div>
            <div style="display: flex;width: 90%; justify-content: space-between;align-items: center;">
                <span style="display: flex;align-items: center; gap: 5px;"><input type="checkbox" name="" id=""> Remember me</span>
                <a style="text-decoration: none;" href="">Forgot Password?</a>
              </div>
            <script>
                // Set the initial state of the appliedJobRoleField
                document.getElementById('appliedJobRoleField').style.display = 'block';

                function toggleJobRoleField() {
                    var roleDropdown = document.getElementById('role');
                    var appliedJobRoleField = document.getElementById('appliedJobRoleField');

                    appliedJobRoleField.style.display = roleDropdown.value === 'hr' ? 'none' : 'block';
                }
            </script>
          <button type="submit" class="s_btn">Get Started</button>
        </form>
        <div>
          <span>Already have an account?  </span
            ><a href="{{ url_for('routes.login') }}" style="text-decoration: none; font-weight: bold;color: #323782;"
            >LogIn</a
            >
          </div>
      </div>
    </div>
  </body>
</html>
