<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HR bot - Signup</title>
    <link rel="stylesheet" href="../static/css/signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="signup">
      <div class="s_left">
        <h1 style="font-size: 60px;">Create Account</h1>
        <form class="s_form" action="/signup" method="POST">
          <div class="s_email">
            <label for="username" class="form-label">Name</label>
            <input
              type="text"
              class="s_input"
              id="username"
              name="username"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="s_email">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="s_input" name="email" id="email" />
          </div>
          <div class="s_email">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="phone" class="s_input" name="phone" id="phone" />
          </div>
          <div class="s_password">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="s_input"
              name="password"
              id="password"
            />
          </div>
          <button type="submit" class="s_btn">Sign Up</button>
        </form>
        <div>
          <span>Already have an account?  </span
            ><a href="/login" style="text-decoration: none"
            >LogIn</a
            >
          </div>
      </div>
      <div class="s_right">
        <h1 class="s_right_title">FunnelHQ</h1>
        <div class="s_right_hr">
          <h2 class="s_right_hr_title">HRbot</h2>
          <p class="s_right_hr_desc">
            Revolutionize HR processes with our innovative HRbot project. Streamline employee onboarding, automate routine tasks, and enhance communication. Boost efficiency, engagement, and workplace satisfaction with cutting-edge AI-powered HR solutions.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
