<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/update_password.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="update">
        <h1>Update Password</h1>
        <form class="u_form" action="/update_password" method="POST">
            <input class="u_input" type="password" name="password" placeholder="Enter Password" id="">
            <input class="u_input" type="password" name="re-password" placeholder="Re-Enter Password" id="">
            <button class="u_btn" type="submit">Update</button>
        </form>
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
    </div>
    <script>
        // Clear the error message on page load
        window.onload = function() {
            setTimeout(() => {
                var errorMessage = document.querySelector('.error-message');
                if (errorMessage) {
                    errorMessage.style.display = 'none';
                }
            }, 3000);
        };
    </script>
</body>
</html>