<html>
<head>
    <title>OTP Verification</title>
    <link rel="stylesheet" href="../static/css/verify.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="verify">
        <h1 class="v_title">OTP has been sent to your email!</h1>
        <h2 class="v_subtitle">Enter 6 digit OTP</h2>
        <form class="v_form" action="/verify_otp_for_updating_password" method="POST">
            <input class="v_input" type="text" name="otp" required>
            <button class="v_btn" type="submit">Verify OTP</button>
        </form>
    </div>
</body>
</html>
